build/
*ReSharper*
.vs
.idea
contrib/Plugin*
.xmake/
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
*.png
StarfieldThrottleLog.txt
build_log.txt
cmake_install.cmake
vcpkg-manifest-install.log
vcpkg_installed/
*.log
*.ninja
.ninja_*
*.dll
*.lib
*.vcxproj
*.vcxproj.filters
*.slnx
*.dir/
bin/
lib/
node_modules/
target/
tools/AbsoluteHOTASConfigurator/dist/
tools/AbsoluteHOTASConfigurator/src-tauri/gen/
tools/AbsoluteHOTASConfigurator/src-tauri/icons/
_deps/
x64/
/.papyrus_imports/
Data/Scripts/*.pex
